* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
.bg-theme {
  background-color: #000205;
}
.fs-30 {
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  .fs-30 {
    font-size: 20px;
  }
}
.fs-20 {
  font-size: 20px;
}
.text-theme {
  color: #000205;
}
.s-icon {
  cursor: pointer;
  border: 1px solid white;
  font-size: 30px;
  padding: 2px 10px;
  margin: 25px 18px;
  border-radius: 5px;
  transition: background-color 0.8s !important;
}
.s-icon a {
  color: white !important;
}
.in:hover {
  background-color: #d23b98;
}
.fb:hover {
  background-color: #0b84ee;
}
.li:hover {
  background-color: #0077b5;
}
.mail:hover {
  background-color: #ac262c;
}
.phone:hover {
  background-color: #29a819;
}
#intro {
  background-image: url("../img/bg.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.intro-text {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
}
.nav-link {
  font-size: 16px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
div.progress {
  height: 4px;
}
.c-bg {
  background-color: #a9bacd;
}
.c-text {
  color: #a9bacd;
}
.cpp-bg {
  background-color: #659bd3;
}
.cpp-text {
  color: #659bd3;
}
.java-bg {
  background-color: #799eb7;
}

.java-text {
  color: #799eb7;
}

.html-text {
  color: #e54c21;
}

.css-text {
  color: #214ce5;
}

.js-text {
  color: #f7e018;
}

.bootstrap-text {
  color: #563d7c;
}

.card {
  transition: box-shadow 1s;
}

.card:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 12px 15px 0 rgba(148, 12, 21, 0.24),
    0 17px 50px 0 rgba(148, 12, 21, 0.24) !important;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
#skills .fab {
  font-size: 90px;
}
.b-img {
  max-width: 90px;
  max-height: 90px;
}
.row {
  align-items: center;
}
#skills .card {
  max-width: 120px;
  align-items: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
#skills .col-6 {
  margin-top: 50px;
}
.project-image {
  max-height: 245px;
}
.hr-light {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.project-link {
  color: #000205;
}
.circle {
  padding: 16px 20px;
  border-radius: 30%;
  background-color: #000205;
}
i {
  color: white;
}
.connecting-lies.row .col-2 {
  align-self: stretch;
}
.connecting-lies.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #000205;
  z-index: 1;
}
.connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.connecting-lines.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #000205;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #000205;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
.white-text {
  color: white !important;
}
